.name_res {
     font-weight: 800;
     text-align: center;
}

.prof_res {
  font-weight: 300;
  text-align: center;
}

.contacts_res {
 font-weight: 700;
 text-align: center;
}

.education_res {
 font-weight: 700;
 text-align: center;
}


.university1_name {
    font-weight: 700;

}

.references-title {
    font-weight: 700;
}


.phone{
 font-weight: 400;
 text-align: center;
 padding-left: 15px;
}

.site {
 font-weight: 400;
 text-align: center;
 padding-left: 15px;
}



.location {
    font-weight: 400;
    padding-left: 15px;
}

.line {
    font-weight: 800;
    color: black;
}

.contact_block hr {
    background-color: #333;
}

.icon-img {
    width: 20px; 
    height: 20px;
}
