.name_res {
    font-weight: 800;
    text-align: center;
    font-size: 3.3rem;
    margin-top: 30px;
}

.photo_res {
  text-align: center; /* центрує вміст по горизонталі */
}

.photo_res img {
  width: 85%;
  margin-top: 15px;
  
}

.prof_res {
    font-size: 20px;           /* розмір шрифту */
    letter-spacing: 3px;       /* відстань між літерами */
    text-transform: uppercase; /* великі літери */
    color: #333333;
    font-family: "Raleway Roman", sans-serif;
    text-align: center;
    line-height: 30px;
}


// .prof_res {
//     font-weight: 300;
//     text-align: center;
// }

.contacts_res {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
}

.cont_res {
    display: flex;
    flex-direction: column;       /* всі рядки один під одним */
    align-items: center;          /* центрування всього блоку по горизонталі */                 /* відстань між рядками */
    font-size: 15px; 

}

.education_res {
    font-weight: 700;
    font-size: 65px;
    text-align: center;
   
}

.degree_title {
    font-size: 16px;
    font-weight: 400;
}


.university1_name {
    font-weight: 700;

}

.university2_name {
    font-weight: 700;
}

.references-title {
    font-weight: 700;
     font-size: 65px;
    text-align: center;
}




.line {
    font-weight: 800;
    width: 75%;
    margin: 0 auto;
    color: black;
}

// .contact_block hr {
//     background-color: #333;
// }

hr {
    height: 2px;
    background-color: #333;
    opacity: 1;
}

.icon-img {
    width: 20px;
    height: 20px;
}

.left_part {
  border-right: 3px solid black !important;
}