.sidebar {
  @extend %box-default;
  width: 260px;

  .sidebar-title {
    @extend %title-large;
    background: lighten($primary-color, 30%);
    padding: 12px;
    border-radius: 8px;
  }
}


.name_res {
    font-weight: 800;
    text-align: center;
    font-size: $base-font-size * 3.3; // 16px * 3.3 = 52.8px
    margin-top: $base-spacing * 1.5; // 20px * 1.5 = 30px
}

// .photo_res {
//   text-align: center; /* центрує вміст по горизонталі */
// }
.photo_res {
    text-align: center;

    img {
        width: 85%;
        margin-top: 15px;
    }
}

.prof_res {
    font-size: 20px;
    /* розмір шрифту */
    letter-spacing: 3px;
    /* відстань між літерами */
    text-transform: uppercase;
    /* великі літери */
    color: $line-color;
    font-family: $font-main;
    text-align: center;
    line-height: 30px;
}


// .prof_res {
//     font-weight: 300;
//     text-align: center;
// }

.contacts_res {
    // font-weight: 700;
    font-size: 35px;
    text-align: center;
    // margin-top: 50px;
    margin-top: $base-spacing * 2.5; // 20px * 2.5 = 50px
    font-size: $base-font-size * 2.2; // ≈ 35px
}

.cont_res {
    @include center-flex(column); // Використовуємо міксін для центрування
    font-size: 15px;

}

.education_res {
    font-weight: 700;
    font-size: 65px;
    text-align: center;

}

.degree_title {
    font-size: 16px;
    font-weight: 400;
}


.university1_name {
    font-weight: 700;

}

.university2_name {
    font-weight: 700;
}

.references-title {
    font-weight: 700;
    font-size: 65px;
    text-align: center;
}




.line {
    font-weight: 800;
    width: 75%;
    margin: 0 auto;
    color: $text-color;
}

// .contact_block hr {
//     background-color: #333;
// }

hr {
    height: 2px;
    background-color: $line-color;
    opacity: 1;
}

.icon-img {
    width: 20px;
    height: 20px;
}

// .left_part {
//   border-right: 3px solid $text-color !important;
// }